<div class="card pt-3">
    <div class="layout-form " *ngIf="!cadastroVisivel">
        <div class="pb-5 pl-0">
            <span class="fst-italic fw-bold fs-6" style="color: cornflowerblue;">Pesquisar número gerado</span>
        </div>
    </div>
    <div class="grid p-fluid mt-0" >
        <div class="field col-12 md:col-12" *ngIf="!cadastroVisivel">
            <label class="fw-bold" htmlFor="TipoDocumento">Tipo de Documento</label>
            <p-dropdown id="tipoTermo" name="tipoTermo" optionLabel="nome"></p-dropdown>
        </div>
        <div class="field col-12 md:col-12" *ngIf="!cadastroVisivel">
            <button class="btn btn-primary" (click)="novoCadastro()">novo</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Data Cadastro</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ingrediente of itens;">
                        <td>{{ingrediente.id}}</td>
                        <td>{{ingrediente.nome}}</td>
                        <td>{{ingrediente.dataCadastro}}</td>
                        <td><button class="btn btn-sm btn-secondary text-light ml-1" aria-pressed="true" role="button" (click)="selecionar(ingrediente)" >
                            <i class="pi pi-file-edit"></i>
                        </button></td>
                        <td><button class="btn btn-danger text-light" aria-pressed="true" role="button" (click)="excluir(ingrediente)" >Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <div class="field col-12 md:col-12">
            <app-ingrediente-adicionar *ngIf="cadastroVisivel" (onClose)="fechar()"></app-ingrediente-adicionar>     
        </div>  
    </div>
</div>