<div class="card pt-3">
    <div class="layout-form " *ngIf="!cadastroVisivel">
        <div class="pb-5 pl-0">
            <span class="fst-italic fw-bold fs-6" style="color: cornflowerblue;">Ingredientes</span>
        </div>
    </div>
    <div class="grid p-fluid mt-0" *ngIf="!cadastroVisivel">
        <div class="col-9 md:col-10"></div>
        <div class="col-3 md:col-2">
            <button class="btn btn-primary" (click)="novoCadastro()">
                <i class="pi pi-plus pr-1"></i>
                <span>Novo Ingrediente</span>
            </button>
        </div>
        <div class="col-12 md:col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th style="width: 200px;">Data Cadastro</th>
                        <th style="width: 180px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ingrediente of itens;">
                        <td>{{ingrediente.id}}</td>
                        <td>{{ingrediente.nome}}</td>
                        <td>{{ingrediente.dataCadastro | date:"dd/MM/yyyy"}}</td>
                        <td style="text-align:center;">
                            <button class="btn btn-primary btn-sm" (click)="selecionar(ingrediente)">
                                <i class="pi pi-pencil pr-1"></i>
                                <span>Editar</span>
                            </button>
                            <button class="btn btn-danger btn-sm ml-1" (click)="excluir(ingrediente)">
                                <i class="pi pi-times pr-1 mt-1"></i>
                                <span>Excluir</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
    <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
    <div class="grid p-fluid mt-0" *ngIf="cadastroVisivel">
        <div class="field col-12 md:col-12">
            <app-ingrediente-adicionar  (onClose)="fechar()"></app-ingrediente-adicionar>
        </div>
    </div>
</div>



