<div class="card pt-3">
    <div class="grid p-fluid mt-0">
        <div class="field col-12 md:col-12">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="nome" #atr="ngModel" required />
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="atr.invalid && alert">Nome obrigatorio</div>
        </div>
        <div class="field col-12 md:col-12">
            <label for="datacadastro">Data Cadastro:</label>
            <label>{{dataCadastro|date:"dd/MM/yyyy"}}</label>
        </div>
        <div class="field col-1"><button class="btn btn-primary" (click)="enviar()">enviar</button></div>
        <div class="field col-11"><button class="btn btn-primary" (click)="voltar()">voltar</button></div>     
    </div>
</div>