<div class="card pt-3">
    <div class="grid p-fluid mt-0">
        <div class="field col-12 md:col-12" [formGroup]="formGroup">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" formControlName="nome" required />
        </div>
        <div class="field col-12 md:col-12">
            <label for="datacadastro">Data Cadastro:</label>
            <label>{{dataCadastro|date:"dd/MM/yyyy"}}</label>
        </div>
        <div class="col-10"></div>
        <div class="col-2">
            <button class="btn btn-primary" (click)="enviar()">Salvar</button>
            <button class="btn btn-primary ml-2" (click)="voltar()">Voltar</button>
        </div>     
    </div>
</div>