<div class="card pt-3">
    <div class="grid p-fluid mt-0" [formGroup]="RotinaDisparo">
        <div class="field col-2"></div>
        <div class="field col-8">
            <label for="nome">Nome</label>
            <input type="text" formControlName="nome" id="nome" name="nome" value="nome" class="form-control">
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="field col-8">
            <label for="intervalo">Intervalo</label>
            <input type="date" formControlName="intervalo" id="intervalo" name="intervalo" value="intervalo" class="form-control">
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="field col-8">
            <label for="tipoIntervalo">Frequqencia do intervalo:</label>
            <select formControlName="tipoIntervalo"  class="form-select">
                <option *ngFor="let tiposIntervalo of tiposIntervalos" value="{{tiposIntervalo.valor}}">{{tiposIntervalo.nome}}</option>
            </select>
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="field col-8">
            <label for="dataCadastro">Data Cadastro:</label>
            <label>{{dataCadastro|date:"dd/MM/yyyy"}}</label>
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="field col-8">
            <button class="btn btn-primary" (click)="Enviar()">Salvar</button>
        </div>
    </div>
</div>
