<div class="card pt-3">
    <div class="grid p-fluid mt-0" [formGroup]="templateEmailGroup">
        <div class="field col-2"></div>
        <div class="field col-8">
            <label for="nome">nome:</label>
            <input type="text" class="form-control" formControlName="nome" id="nome" value="nome" name="nome">
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="field col-8">
            <label for="titulo">titulo:</label>
            <input type="text" class="form-control" formControlName="titulo" id="nome" value="nome" name="nome">
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="field col-8">
            <label for="conteudo">conteudo:</label>
            <input type="text" class="form-control" formControlName="conteudo" id="conteudo" value="conteudo" name="conteudo">
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="field col-8">
         <label for="dataCadastro">dataCadastro:</label>
         <label>{{dataCadastro|date:"dd/MM/yyyy"}}</label>
        </div>
        <div class="field col-2"></div>
        <div class="field col-2"></div>
        <div class="filed col-8">
            <button class="btn btn-primary" (click)="Enviar()">Enviar</button>
        </div>
    </div>
</div>
