<div class="grid p-fluid mt-0" >
    <div class="col-12 md:col-12">
        <label for="ingredienteId">Ingrediente</label>
        <select class="form-control" [(ngModel)]="ingredienteId">
            <option *ngFor="let ingrediente of ingredientes" value="{{ingrediente.id}}" >{{ingrediente.nome}}</option>
        </select>
    </div>
    <div class="col-12 md:col-12">
        <label for="unidadeMedidaId">Ingrediente</label>
        <select class="form-control" [(ngModel)]="unidadeMedidaId">
            <option *ngFor="let unidades of unidadeMedidas" value="{{unidades.id}}" >{{unidades.nome}}</option>
        </select>
    </div>
    <div class="col-12 md:col-12">
        <label for="quantidade">Quantidade</label>
        <input class="form-control" type="number" ngModel="quantidade" id="quantidade" value="quantidade" name="quantidade" [(ngModel)]="quantidade">
    </div>
    <div class="col-12 md:col-12">
        <label for="valor">Valor</label>
        <input class="form-control" type="number" ngModel="valor" id="valor" value="valor" name="valor" [(ngModel)]="valor">
    </div>
    <div class="col-12 md:col-12">
        <label for="dataCompra">Data da Compra</label>
        <label>{{dataCompra|date:"dd/MM/yyyy"}}</label>
    </div>
    <div class="field col-1 "><button class="btn btn-primary" (click)="adicionar()">enviar</button></div>
    <div class="field col-11"><button class="btn btn-primary" (click)="fechar()">voltar</button></div>
</div>
