<p-progressSpinner [style]="{width: '30px', height: '30px', position: 'fixed', textAlign: 'center'}"
styleClass="custom-spinner sticky-top  fs-5 notificacao" strokeWidth="8" fill="var(--surface-ground)"
animationDuration=".6s" *ngIf="isLoading">
</p-progressSpinner>
<p-toast life="15000" closable="true"></p-toast>

<div class=" title">
  <div class="container text-center mt-5">
    <h1  style="font-family: cursive">Cms Cake</h1>
    <p>Qualidade sempre</p>
  </div>
</div>
<div class="container" style="min-height: 400px;">
  <div class="grid p-fluid mt-0" >
  <div class="field col-12 md:col-12" >

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link px-2 link-dark" aria-current="page" href="#/admin">Receita</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 link-dark" aria-current="page" href="#/admin/ingrediente">Ingrediente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 link-dark" href="#/admin/unidademedida">Unidade Medida</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2 link-dark" href="#/admin/compra">compra</a>
            </li>
          </ul>
          <form class="d-flex" role="log">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
          </form>
        </div>
      </div>
    </nav>
    
  </div>
  </div>
  <router-outlet></router-outlet>
</div><br>
<footer class="container-fluid text-center">
  <p>Cris Cakes</p>
</footer>
