<div class="card pt-3">
    <div class="grid p-fluid mt-0" >
        <div class="field col-12 md:col-12" *ngIf="tabelaView">
            <button class="btn btn-primary" (click)="novoCadastro()" >novo</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>DataCadastro</th>
                        <th>modoPreparo</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receita of itens;">
                        <td>{{receita.id}}</td>
                        <td>{{receita.nome}}</td>
                        <td>{{receita.modoPreparo}}</td>
                        <td>{{receita.dataCadastro}}</td>
                        <td><button class="btn btn-primary text-light" aria-pressed="true" role="button" (click)="novoIngrediente(receita)" >Adicionar Ingrediente</button></td>
                        <td><button class="btn btn-danger text-light" aria-pressed="true" role="button" (click)="dialog()" >Excluir</button>
                            <p-dialog header="Excluir" [(visible)]="confirmarExclusao" [style]="{width: '50vw'}" >
                                <p>Confirmar exlcusão de receita</p>
                                <ng-template pTemplate="footer">
                                    <p-button icon="pi pi-check" (click)="excluir(receita)"  label="Ok" styleClass="p-button-text"></p-button>
                                </ng-template>
                            </p-dialog>
                        </td>
                        <td><button class="btn btn-info text-light" aria-pressed="true" role="button" (click)="relatorio(receita)" >relatorio</button></td>
                        <td><button class="btn btn-info text-light" aria-pressed="true" role="button" (click)="atualizar(receita)" >atualizar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="field col-12 md:col-12">
            <app-receita-adicionar *ngIf="cadastroReceitaVisivel" (onClose)="fechar()"></app-receita-adicionar>
        </div>
        <div class="field col-12 md:col-12">
            <app-receitaingrediente-adicionar *ngIf="receitaIngredienteCadastro" (onClose)="fechar()"></app-receitaingrediente-adicionar>
        </div>
        <div class="field col-12 md:col-12">
            <app-receitaingrediente-lista *ngIf="receitaIngredienteCadastro"></app-receitaingrediente-lista>
        </div>
    </div>
</div>

