<div class="card pt-3">
    <div class="grid p-fluid mt-0" >
        <div class="field col-12 md:col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>nome</th>
                        <th>titulo</th>
                        <th>Conteudo</th>
                        <th>DataCadastro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rotinas of itens;">
                        <td>{{rotinas.nome}}</td>
                        <td>{{rotinas.titulo}}</td>
                        <td>{{rotinas.conteudo}}</td>
                        <td>{{rotinas.DataCadastro}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 
