<div class="card pt-3">
    <div class="grid p-fluid mt-0" >
        <div class="field col-12 md:col-12" *ngIf="!cadastroVisivel">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Receita</th>
                        <th>Ingrediente</th>
                        <th>Quantidade</th>
                        <th>Unidade Medida</th>
                        <th>Data cadastro</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let receitaIngrediente of receitaIngrediente;">
                        <td>{{receitaIngrediente.id}}</td>
                        <td>{{receitaIngrediente.receitaId}}</td>
                        <td>{{receitaIngrediente.ingredienteId}}</td>
                        <td>{{receitaIngrediente.quantidade}}</td>
                        <td>{{receitaIngrediente.unidadeMedidaId}}</td>
                        <td>{{receitaIngrediente.dataCadastro}}</td>
                        <td><button class="btn btn-sm btn-secondary text-light ml-1" aria-pressed="true" role="button" (click)="selecionar(receitaIngrediente)" >
                            <i class="pi pi-file-edit"></i>
                        </button></td>
                        <td><button class="btn btn-danger text-light" aria-pressed="true" role="button" (click)="excluir(receitaIngrediente)" >Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="filed col-12 md:col-12"><app-receitaingrediente-adicionar *ngIf="cadastroVisivel" (onClose)="fechar()"></app-receitaingrediente-adicionar></div>
    </div>   
</div>